
/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

html, body {
    /* Add a background color or image */
    background-color: whitesmoke; /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 0;
    
}

.content-page{
  margin-left: 25px;
}



h1 {
    font-family: 'Oswald', sans-serif;
    color: #1E293B;
    border-radius: 25px;
    background-color: gold;
    padding: 5px 17px;
    display: inline-block;
    margin-bottom:0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #1E293B;
}

h3 {
    
}

h4 {
    
}

p {
    color:#475569
}

.block h3{
  color: blue;
}

.block p{
  color: blue;
}

.custom_bullets{
  list-style-type: none;
  padding-left: 1px;
}

.custom_bullets li::before{
  content: "⚽️"
}

a,
a * {
    
}

button {
    /* Example Style, replace with your own! */
    background-color: #326295;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */

}

#title-page{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#special-character{
    font-style: italic
}
            
.special-letter{
    display: inline-block;
    width: 27px;
    height: 32px;
    background-image: url(img/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTA5L3Jhd3BpeGVsb2ZmaWNlNV9za2V0Y2hfYXJ0X2RyYXdpbmdfZm9vdGJhbGxfc2NvcmVzX2JsYWNrX2JvbGRfb181MTUzM2Y5NS05YWQ5LTRmOTYtODY4Ny1iYjY5ODY3NWNlN2IucG5n.webp);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

a:visited{
  color: purple;
}

a:hover{
  color: green;
}

p.paragraph {
    font-family: 'Montserrat', sans-serif;
}




button:hover {
    
}



.header-container { 
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-item:nth-of-type(1){
  border-right: 2px solid lightgreen;
  padding:10px;
}

.header-item:nth-of-type(2){
  margin-bottom: 5px;
}

.header-container img{
  width: 130px;
  max-width: 200px;
  margin-left: 15px;
}

.header-button{
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(135deg, #00A651, #FFD700);
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  font-size: large;
}



.footer { 
    
}



.navbar ul {
    z-index: 1000;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
}

.navbar ul li {
    float: left;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: justify;
}

.navbar ul li a:hover {
    color: red;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: #f8bbd0;
  /* Set border-color and background */
}
.form-container{
  display: flex;
  align-items: center;
  gap: 10px; /* spacing between inputs and button */
  flex-wrap: wrap;
}
.rsvp-container{
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  padding-bottom: 50px;
}

.rsvp-para{
  width: 55%;
  padding-right: 10px;
}

.rsvp-participants{
  width: 45%;
  padding-right: 10px;
}


#rsvp-button{
  display: inline-block;
  margin-left: 5px;
}
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 2;      /* modal appears above other elements */ 
  
  /* TODO: Make the modal fill the entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0,0,0,0.4); /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
    /* Change modal size and spacing here */
    padding: 50px;
    width: 55%;

    /* Customize modal style here */
    background-color: gold;
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;
    border-radius: 15px;

}

#modal-item img{
    width: 175px;
    height: auto;
    
}

#modal-text{
  margin-top: 33px;
}
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/

/* Default dark mode style */
.dark-mode .header-button{
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(135deg, #FFD700, #007BFF);
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  font-size: large;
}
body.dark-mode {
  background: radial-gradient(circle at center, #0A0A0A, #202020);
  /*160deg, #121212, #2A2A2A*/
}

.dark-mode .navbar li #theme-button{
  background-color: #FF3B30;
}
.dark-mode #LinksPage .block{
  text-decoration: none;
}
.dark-mode #rsvp-button{
  background-color: #FF3B30;
}

.dark-mode .navbar ul li a{
  color: white;
}

.dark-mode .navbar ul li a:hover{
  color: navy;
}

.dark-mode .form-container #rsvp-form{
  color: white;
}

/* Example: Different dark mode style for h1 */
.dark-mode h1 {
  font-family: 'Oswald', sans-serif;
  color: #fff8dc; /* light goldenrod / cream tone */
  background-color: #333; /* dark gray */
  border-radius: 25px;
  padding: 5px 17px;
  display: inline-block;
  margin-bottom: 0;
}

.dark-mode p,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode ul{
  color: #F8F9FA;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}

.dark-mode .modal-container{
  background-color: #CD7F32;
}

.dark-mode .block h3{
  color: #5AC8FA;
  text-decoration: none;
}

.dark-mode .block p{
  color: #DDDDDD;
}

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {
  color: purple;
}



:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}