.player-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.player-modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.player-modal-content {
  position: relative;
  z-index: 1;

  background: white;
  color: black;
  padding: 24px;
  border-radius: 12px;
  width: 500px;
  max-width: 90%;
  text-align: center;
}

.player-modal-close-button{
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: brown;
  border: none;
  font-size: 24px;
  cursor: pointer;
}