.image-slider-img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.image-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.slider-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.slider-btn{
  display: inline-block;
  margin-top: 35px;
  padding: 12px 28px;

  background-color: #ffd000;
  color: #001f54;

  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;

  border: 2px solid #ffd000;
  border-radius: 999px;

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  transition: all 0.25s ease;
  gap: 20px;
}