.tournament-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    max-width: 800px;
    margin: 0 auto;
}

.tournaments-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    gap: 16px;
    padding: 20px;
}

.expanded-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    grid-row: auto;
}

.card-header{
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.fun-fact-box{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 10px;
}


.detail-label{
    color: grey;
    font-size: 15px;
}

.detail-value{
    color: red;
    font-weight: bold;
}

.detail-label-fact{
    color: grey;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}

.detail-item-fact{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 25px;
    grid-column: 1 / -1;

}